<!DOCTYPE html>
<html lang="pt-br" ng-app="clienteModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Sistema Locadora</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
      <script src="js/angular.min.js"></script>
      <script src="control/cliente.js"></script>

    
  </head>
  <body ng-controller="clienteControl">
    <div ng-include src="'menu.html'"></div>
      
      <div class="panel panel-default">
          <div class="panel-body">
            <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a></li>
    <li role="presentation"><a href="#lista" aria-controls="lista" role="tab" data-toggle="tab">Lista</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="cadastro">
        <form style="padding:50px 50px 0 10px" class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Código</label>
                <div class="col-sm-6">
                  <input type="text" ng-model="cliente.codigo" disabled="true" class="form-control" id="codigo" placeholder="codigo">
                </div>
              </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-6">
                  <input type="text" ng-model="cliente.nome" class="form-control" id="nome" placeholder="Nome">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="button" ng-click="novo()" class="btn btn-default">Novo</button>
                  <button type="button" ng-click="salvar()" class="btn btn-primary">Salvar</button> 
                  <button type="button" ng-click="excluir()" class="btn btn-danger">Excluir</button>
                </div>
              </div>
</form>
    
    </div>
    <div role="tabpanel" class="tab-pane" id="lista">
    
    	<table class="table table-striped">
        	<thead> 
            <tr> <th>Código</th> <th>Nome</th></tr>
             </thead> 
             <tbody> 
             	<tr ng-repeat="clienteTabela in clientes"
                	ng-click="selecionaCliente(clienteTabela);" >
             	<th scope="row">{{clienteTabela.codigo}}</th>
                 <td>{{clienteTabela.nome}}</td>
                 </tr>
             </tbody>	
		</table>
    </div>
  </div>

</div>
          </div>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>